* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 10px;
  }
}
